* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    margin-top: 4.67rem;
    align-self: center;
}





nav ul{
    height: 162px;
    flex-shrink: 0;
    background-color: rgb(133, 192, 253);
}

a, li {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
    justify-content: space-between;
}



#Home img {
    width: 67px;
    height: 64px;
    margin-bottom: -15px;
}

#Home {
    width: 218px;
    height: 80px;
    flex-shrink: 0;
    font-weight: 1000;
    color: #000;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-self: center;

}

#Profile {
    align-self: center;
    width: 270px;
    height: 80px;
    
}

#bruno {
    border-radius: 66px;
    border: 1px solid #f8f8f8;
    border-width: 7px;
    width: 110px;
    height: 110px;
    margin-left: 150px;
}

#Manage-Pets, #Calendar {
    display: flex;
    width: 210px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background-color: white;
    text-align: center;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
    border-radius: 10px;
    border: solid 1px black;
}




.palinfo {
    background-color: #5bc0ff;  
    width: 900px;
    height: 500px;
    border-radius: 20px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


#Pubert {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    border: 5px solid #222;
}


.petinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.petinfo p {
    background-color: #fff;
    color: #333;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    margin: 8px 0;
    font-weight: bold;
    width: 180px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}


.palweight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#weight {
    background-color: #fff;
    font-size: 24px;
    color: #070707;
    border-radius: 15px;
    padding: 15px 30px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

#weightgraph {
    width: 240px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

#addweight {
    background-color: #ffffff;
    color: #120b0b;
    border-radius: 10px;
    padding: 8px 15px;
    text-align: center;
    width: 12   0px;
}



footer {
    background-color: #85C0FD;
    height: 162px;
    margin-top: auto;
    width: 100%;
}
