* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}







nav ul{
    height: 162px;
    flex-shrink: 0;
    background-color: rgb(133, 192, 253);
}

a, li {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
    justify-content: space-between;
}



#Home img {
    width: 67px;
    height: 64px;
    margin-bottom: -15px;
}

#Home {
    width: 218px;
    height: 80px;
    flex-shrink: 0;
    font-weight: 1000;
    color: #000;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-self: center;

}

#Profile {
    align-self: center;
    width: 270px;
    height: 80px;
    
}

#bruno {
    border-radius: 66px;
    border: 1px solid #f8f8f8;
    border-width: 7px;
    width: 110px;
    height: 110px;
    margin-left: 150px;
}

#Manage-Pets, #Calendar {
    display: flex;
    width: 210px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background-color: white;
    text-align: center;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
    border-radius: 10px;
    border: solid 1px black;
}




.Pets {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}






.Gerbert, .Pubert, .Herbert {
    display: flex;
    flex-direction: column;
    background-color: #4BA7FF;
    width: 378px;
    height: 405px;
    border-radius: 20px;
}

.Gerbert p, .Pubert p, .Herbert p {
    margin: 20px;
    background-color: white;
    padding: 2px;
    width: 115px;
    height: 25px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 100px;
    align-self: center;

}

.GerbertButtons, .PubertButtons, .HerbertButtons {
    display: flex;
    background-color: #71b9fdf4;
    justify-content: space-around;
    padding: 20px;
    border-radius: 20px;
}

#Gerbert, #Pubert, #Herbert {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    border: solid 3px black;
    align-self: center;
    margin-bottom: auto;
}


#DogButtons {
    background-color: #ffffff00;
    border: none;
}

#DogButtons img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}


footer {
    background-color: #85C0FD;
    height: 162px;
    margin-top: auto;
    width: 100%;
}