nav {
    width: 100%;
    height: 162px;
    flex-shrink: 0;
    background-color: rgb(133, 192, 253);
}

a, li {
    list-style-type: none;
    text-decoration: none;
}

nav ul {
    display: flex;
}



#PawPal {
    width: 67px;
    height: 64px;
}

#Home {
    width: 218px;
    height: 80px;
    flex-shrink: 0;
    font-weight: 1000;
    color: #000;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-self: center;
}

#Profile {
    
}

#bruno {
    border-radius: 66px;
    border: 1px solid #f8f8f8;
    border-width: 7px;
    width: 110px;
    height: 110px;
}

#Manage-Pets, #Calendar {
    display: flex;
    width: 210px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background-color: white;
    text-align: center;
    color: #000;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
    border-radius: 10px;
    border: solid 1px black;
    

}

