* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}







html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}


nav ul{
    height: 162px;
    flex-shrink: 0;
    background-color: rgb(133, 192, 253);
}

a, li {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
    justify-content: space-between;
}



#Home img {
    width: 67px;
    height: 64px;
    margin-bottom: -15px;
}

#Home {
    width: 218px;
    height: 80px;
    flex-shrink: 0;
    font-weight: 1000;
    color: #000;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-self: center;

}

#Profile {
    align-self: center;
    width: 270px;
    height: 80px;
    
}

#bruno {
    border-radius: 66px;
    border: 1px solid #f8f8f8;
    border-width: 7px;
    width: 110px;
    height: 110px;
    margin-left: 150px;
}

#Manage-Pets, #Calendar {
    display: flex;
    width: 210px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background-color: white;
    text-align: center;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
    border-radius: 10px;
    border: solid 1px black;
}

section {
    background-color: #2da3f7;
    width: 800px;
    height: 800px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    margin: 40px auto;
}

section p {
    background-color: white;
    color: rgb(10, 10, 10);
    width: 150px;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

section a img {
    width: 35px;
    height: 35px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 6px;
}

#addpetimages {
    background-color: white;
    width: 300px;
    height: 300px;


    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;

    margin-top: 30px;
    margin-bottom: -40px;
}

#addpet {
    background-color: white;
    padding: 6px 14px;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 80px;
    margin-left: auto;
    
}

#male {
    margin-right: 50px;
    margin-bottom: -59px;
}

#female {
    margin-left: 50px;
}

footer {
    background-color: #85C0FD;
    height: 162px;
    margin-top: auto;
    width: 100%;
}