* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    height: 50rem;
    background-color: #f8fbff;
}

header {
    width: 50%;
    background-color: #52a9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

header img {
    width: 180px;
    height: auto;
    margin-bottom: 1rem;
}

header h1 {
    color: #202020;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

header p {
    font-size: 0.8rem;
    color: #000000;
}

section {
    width: 50%;
    background: #f8fbff repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section p {
    margin: 0.5rem 0;
}

a.signin {
    display: inline-block;
    background-color: #52a9ff;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.8rem 3rem;
    border-radius: 8px;
    transition: 0.2s ease;
}

a.signin:hover {
    background-color: #3690e9;
}

.createacc a {
    display: inline-block;
    background-color: #7ec2ff;
    color: #000;
    font-size: 0.85rem;
    text-decoration: none;
    padding: 0.6rem 2rem;
    border-radius: 6px;
    transition: 0.2s ease;
}

.createacc a:hover {
    background-color: #57abfa;
}

header > * {
    text-align: center;
}

header {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (max-width: 720px) {
  body {
        flex-direction: column;
  }

  header, section {
        width: 100%;
        height: 50%;
  }
}